@model WebApplication3.Models.Games.GameITModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>GameITModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameName" class="control-label"></label>
                <input asp-for="GameName" class="form-control" />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="GameOwner" class="control-label"></label>
                <input asp-for="GameOwner" class="form-control" />
                <span asp-validation-for="GameOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameAddressOwner" class="control-label"></label>
                <input asp-for="GameAddressOwner" class="form-control" />
                <span asp-validation-for="GameAddressOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameAddressOwnerKey" class="control-label"></label>
                <input asp-for="GameAddressOwnerKey" class="form-control" />
                <span asp-validation-for="GameAddressOwnerKey" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
